workflows/reel_creator.json
{
  "name": "Content Creator \u2014 Reel Creator",
  "nodes": [
    {
      "id": "rc-001",
      "name": "\ud83d\udcf2 WhatsApp IDEA Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 320],
      "webhookId": "reel-handler",
      "parameters": {
        "httpMethod": "POST",
        "path": "reel-handler",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "rc-002",
      "name": "\ud83d\udce4 Respond to Twilio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 160],
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "text/xml" }]
          }
        }
      }
    },
    {
      "id": "rc-003",
      "name": "\ud83c\udfaf Interpret Idea + Select Clips + Generate VO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 500],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================================\n// REEL CREATOR \u2014 Step 1\n// Parse IDEA, call GPT-4o for production spec,\n// scan folder, score clips via Vision, generate VO audio.\n// ============================================================\nconst fs   = require('fs');\nconst path = require('path');\nconst { execSync } = require('child_process');\n\nconst input   = $input.item.json;\nconst ideaRaw = (input.Body || '').replace(/^IDEA:\\s*/i, '').trim();\n\nconst OPENAI_KEY  = process.env.OPENAI_API_KEY       || $env.OPENAI_API_KEY;\nconst TWILIO_SID  = process.env.TWILIO_ACCOUNT_SID   || $env.TWILIO_ACCOUNT_SID;\nconst TWILIO_TOK  = process.env.TWILIO_AUTH_TOKEN     || $env.TWILIO_AUTH_TOKEN;\nconst TWILIO_FROM = process.env.TWILIO_WHATSAPP_FROM  || $env.TWILIO_WHATSAPP_FROM || 'whatsapp:+14155238886';\nconst TWILIO_TO   = process.env.TWILIO_WHATSAPP_TO    || $env.TWILIO_WHATSAPP_TO;\n\nasync function wa(msg) {\n  const creds = Buffer.from(TWILIO_SID + ':' + TWILIO_TOK).toString('base64');\n  await fetch('https://api.twilio.com/2010-04-01/Accounts/' + TWILIO_SID + '/Messages.json', {\n    method: 'POST',\n    headers: { 'Authorization': 'Basic ' + creds, 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: new URLSearchParams({ From: TWILIO_FROM, To: TWILIO_TO, Body: msg }).toString(),\n  });\n}\n\nawait wa('\\ud83c\\udfac Got your idea! Analysing and selecting clips\\u2026 give me 2\u20133 mins.');\n\n// --- Step 1: GPT-4o interprets the idea ---\nconst specRes = await fetch('https://api.openai.com/v1/chat/completions', {\n  method: 'POST',\n  headers: { 'Authorization': 'Bearer ' + OPENAI_KEY, 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    model: 'gpt-4o',\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: 'You are the creative director for this creator, a bold sensual lifestyle creator. Interpret reel ideas into precise production specs. Return only valid JSON.' },\n      { role: 'user', content: 'Interpret this reel idea and return a JSON production spec:\\n\\nIdea: \"' + ideaRaw + '\"\\n\\nReturn exactly this JSON structure:\\n{\\n  \"folder\": \"<one of: dance|fits|yoga pants|coffee|concerts|nature|house|lifestyle|fam|ranty|pov&jokes>\",\\n  \"duration\": <integer 15-60>,\\n  \"mood\": \"<string>\",\\n  \"style\": \"<one of: slow_burn|smooth|energetic|dramatic>\",\\n  \"needsVO\": <true|false based on whether user said VO or voiceover>,\\n  \"voiceoverScript\": \"<if needsVO: write a poetic 40-60 word script in creator voice; else null>\",\\n  \"maxClips\": <integer 3-8>,\\n  \"musicMood\": \"<describe the energy and vibe of ideal background music>\",\\n  \"musicSuggestion\": \"<specific song title by artist that matches the mood perfectly>\"\\n}' }\n    ],\n    max_tokens: 700,\n  })\n});\nconst specData = await specRes.json();\nconst spec = JSON.parse(specData.choices[0].message.content);\nconst { folder, duration, mood, style, needsVO, voiceoverScript, maxClips, musicMood, musicSuggestion } = spec;\n\nconsole.log('[REEL] Spec:', JSON.stringify(spec));\n\n// --- Step 2: Scan folder for video files ---\nconst contentBase = 'YOUR_CONTENT_FOLDER';\nconst folderPath  = path.join(contentBase, folder);\nlet videoFiles    = [];\n\nif (fs.existsSync(folderPath)) {\n  videoFiles = fs.readdirSync(folderPath)\n    .filter(f => /\\.(mp4|mov|avi|mkv|webm|m4v)$/i.test(f))\n    .map(f => path.join(folderPath, f));\n}\n\nif (videoFiles.length === 0) {\n  await wa('\\u274c No videos found in ' + folder + '/ for: \"' + ideaRaw + '\"\\n\\nDrop some ' + folder + ' clips into YOUR_CONTENT_FOLDER\\\\' + folder + '\\\\ and try again.');\n  return { action: 'no_clips', folder, ideaRaw };\n}\n\nconsole.log('[REEL] Found ' + videoFiles.length + ' video files in ' + folder + '/');\n\n// --- Step 3: Score clips via GPT-4o Vision (frame extract) ---\nconst tempDir = 'YOUR_CONTENT_FOLDER\\\\scripts\\\\_temp';\nif (!fs.existsSync(tempDir)) fs.mkdirSync(tempDir, { recursive: true });\n\nconst scored  = [];\nconst toCheck = Math.min(videoFiles.length, 12); // Cap at 12 to keep cost low\n\nfor (let i = 0; i < toCheck; i++) {\n  const vPath     = videoFiles[i];\n  const framePath = path.join(tempDir, 'frame_' + i + '.jpg');\n  try {\n    const durRaw = execSync(\n      'ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 \"' + vPath + '\"',\n      { timeout: 10000 }\n    ).toString().trim();\n    const midpoint = parseFloat(durRaw) / 2 || 2;\n    execSync(\n      'ffmpeg -y -ss ' + midpoint + ' -i \"' + vPath + '\" -vframes 1 -q:v 3 \"' + framePath + '\"',\n      { timeout: 15000 }\n    );\n    if (fs.existsSync(framePath)) {\n      const b64      = fs.readFileSync(framePath).toString('base64');\n      const scoreRes = await fetch('https://api.openai.com/v1/chat/completions', {\n        method: 'POST',\n        headers: { 'Authorization': 'Bearer ' + OPENAI_KEY, 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          model: 'gpt-4o',\n          response_format: { type: 'json_object' },\n          messages: [{ role: 'user', content: [\n            { type: 'image_url', image_url: { url: 'data:image/jpeg;base64,' + b64 } },\n            { type: 'text', text: 'Rate this clip for a reel with concept: \"' + ideaRaw + '\" (mood: ' + mood + ', style: ' + style + ').\\nReturn only JSON: {\"score\":1-10,\"reason\":\"<10 words>\"}' }\n          ]}],\n          max_tokens: 80,\n        })\n      });\n      const sd = await scoreRes.json();\n      const sv = JSON.parse(sd.choices[0].message.content);\n      scored.push({ path: vPath, score: sv.score || 5, reason: sv.reason || '' });\n      try { fs.unlinkSync(framePath); } catch(e) {}\n    } else {\n      scored.push({ path: vPath, score: 5, reason: 'frame extract failed' });\n    }\n  } catch(e) {\n    console.log('[REEL] Frame/score error clip ' + i + ':', e.message);\n    scored.push({ path: vPath, score: 5, reason: 'error' });\n  }\n}\n\n// If there are more files than we checked, add them with default score\nfor (let i = toCheck; i < videoFiles.length; i++) {\n  scored.push({ path: videoFiles[i], score: 4, reason: 'not analysed' });\n}\n\nscored.sort((a, b) => b.score - a.score);\nconst selectedClips = scored.slice(0, maxClips || 5).map(c => c.path);\nconsole.log('[REEL] Selected ' + selectedClips.length + ' clips');\n\n// --- Step 4: Generate voiceover audio ---\nlet voiceoverAudioPath = null;\nif (needsVO && voiceoverScript) {\n  const ttsRes = await fetch('https://api.openai.com/v1/audio/speech', {\n    method: 'POST',\n    headers: { 'Authorization': 'Bearer ' + OPENAI_KEY, 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      model: 'tts-1-hd',\n      input: voiceoverScript,\n      voice: 'nova',  // Warm, confident, feminine\n      response_format: 'mp3',\n      speed: 0.92,    // Slightly slower = more sensual/deliberate\n    })\n  });\n  if (ttsRes.ok) {\n    const audioBuf = Buffer.from(await ttsRes.arrayBuffer());\n    voiceoverAudioPath = path.join(tempDir, 'vo_' + Date.now() + '.mp3');\n    fs.writeFileSync(voiceoverAudioPath, audioBuf);\n    console.log('[REEL] Voiceover generated:', voiceoverAudioPath);\n  } else {\n    console.log('[REEL] TTS failed:', await ttsRes.text());\n  }\n}\n\n// --- Step 5: Save args + return ---\nconst timestamp   = Date.now();\nconst reviewDir   = 'YOUR_VAULT_FOLDER\\\\reel_review';\nif (!fs.existsSync(reviewDir)) fs.mkdirSync(reviewDir, { recursive: true });\n\nconst outputPath  = path.join(reviewDir, 'reel_p1_' + timestamp + '.mp4');\nconst reelArgs    = {\n  clips:           selectedClips,\n  duration,\n  outputPath,\n  voiceoverPath:   voiceoverAudioPath,\n  voiceoverScript: needsVO ? (voiceoverScript || '') : '',\n  style,\n  idea:            ideaRaw,\n  mood,\n  musicSuggestion,\n  musicMood,\n  timestamp,\n};\n\nconst argsFile = 'YOUR_CONTENT_FOLDER\\\\scripts\\\\reel_args_temp.json';\nfs.writeFileSync(argsFile, JSON.stringify(reelArgs, null, 2));\n\nreturn {\n  argsFile,\n  outputPath,\n  selectedClipsCount: selectedClips.length,\n  voiceoverReady:     !!voiceoverAudioPath,\n  idea:               ideaRaw,\n  musicSuggestion,\n  musicMood,\n  duration,\n  style,\n  mood,\n  voiceoverScript:    needsVO ? voiceoverScript : '',\n};"
      }
    },
    {
      "id": "rc-004",
      "name": "\ud83c\udf9e\ufe0f Assemble Reel (reel_creator.py)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [740, 500],
      "parameters": {
        "command": "python \"D:\\categorized content\\scripts\\reel_creator.py\" --args \"D:\\categorized content\\scripts\\reel_args_temp.json\"",
        "cwd": "D:\\categorized content\\scripts",
        "timeout": 600000
      }
    },
    {
      "id": "rc-005",
      "name": "\ud83d\udce4 Upload + Send Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 500],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================================\n// REEL CREATOR \u2014 Step 3\n// Parse Python output, upload to Imgur, send WhatsApp preview.\n// ============================================================\nconst fs   = require('fs');\nconst prev = $input.item.json;\n\n// Parse Python script stdout\nlet reelResult = {};\ntry {\n  const stdout = prev.stdout || '';\n  const jsonLine = stdout.split('\\n').reverse().find(l => l.trim().startsWith('{'));\n  reelResult = JSON.parse(jsonLine || '{}');\n} catch(e) {\n  console.log('[UPLOAD] Could not parse reel result:', e.message);\n}\n\nconst TWILIO_SID      = process.env.TWILIO_ACCOUNT_SID    || $env.TWILIO_ACCOUNT_SID;\nconst TWILIO_TOK      = process.env.TWILIO_AUTH_TOKEN      || $env.TWILIO_AUTH_TOKEN;\nconst TWILIO_FROM     = process.env.TWILIO_WHATSAPP_FROM   || $env.TWILIO_WHATSAPP_FROM || 'whatsapp:+14155238886';\nconst TWILIO_TO       = process.env.TWILIO_WHATSAPP_TO     || $env.TWILIO_WHATSAPP_TO;\nconst CLOUDINARY_CLOUD_NAME    = process.env.CLOUDINARY_CLOUD_NAME    || $env.CLOUDINARY_CLOUD_NAME;\n  const CLOUDINARY_UPLOAD_PRESET = process.env.CLOUDINARY_UPLOAD_PRESET || $env.CLOUDINARY_UPLOAD_PRESET;\n\nasync function wa(msg) {\n  const creds = Buffer.from(TWILIO_SID + ':' + TWILIO_TOK).toString('base64');\n  await fetch('https://api.twilio.com/2010-04-01/Accounts/' + TWILIO_SID + '/Messages.json', {\n    method: 'POST',\n    headers: { 'Authorization': 'Basic ' + creds, 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: new URLSearchParams({ From: TWILIO_FROM, To: TWILIO_TO, Body: msg }).toString(),\n  });\n}\n\nif (!reelResult.success) {\n  const errMsg = '\\u274c Reel assembly failed.\\n\\nError: ' + (prev.stderr || 'Unknown').substring(0, 300);\n  await wa(errMsg);\n  return { action: 'failed', error: errMsg };\n}\n\nconst { outputPath, duration, sizeMB, clipsUsed, voiceoverAdded, captionsAdded } = reelResult;\n\n// Upload to Imgur for WhatsApp preview\nlet previewUrl = null;\ntry {\n  const buf = fs.readFileSync(outputPath);\n  const b64 = buf.toString('base64');\n  const cloudRes = await fetch('https://api.cloudinary.com/v1_1/' + CLOUDINARY_CLOUD_NAME + '/auto/upload', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ file: 'data:video/mp4;base64,' + b64, upload_preset: CLOUDINARY_UPLOAD_PRESET }),\n  });\n  const cloudData = await cloudRes.json();\n  previewUrl = cloudData?.secure_url || null;\n  console.log('[CLOUDINARY] Upload URL:', previewUrl);\n} catch(e) {\n  console.log('[UPLOAD] Imgur failed:', e.message);\n}\n\n// Save reel to pending_reels.json for POST command handling\nconst pendingReelsPath = 'YOUR_CONTENT_FOLDER\\\\scripts\\\\pending_reels.json';\nlet pendingReels = {};\ntry {\n  if (require('fs').existsSync(pendingReelsPath)) {\n    pendingReels = JSON.parse(fs.readFileSync(pendingReelsPath, 'utf8'));\n  }\n} catch(e) {}\n\nconst reelId = 'reel_p1_' + (prev.timestamp || Date.now());\npendingReels[reelId] = {\n  id:              reelId,\n  outputPath,\n  idea:            prev.idea || '',\n  musicSuggestion: prev.musicSuggestion || '',\n  musicMood:       prev.musicMood || '',\n  voiceoverScript: prev.voiceoverScript || '',\n  duration,\n  clipsUsed,\n  status:          'pending_review',\n  createdAt:       new Date().toISOString(),\n};\nfs.writeFileSync(pendingReelsPath, JSON.stringify(pendingReels, null, 2));\n\n// Format WhatsApp message\nconst msg = [\n  '\\ud83c\\udfac content_creator \\u2014 Reel Ready!',\n  '',\n  '\\u23f1 ' + duration + 's  |  \\ud83c\\udfac ' + clipsUsed + ' clips  |  \\ud83d\udcf1 9:16',\n  voiceoverAdded  ? '\\ud83c\udfad Voiceover: \\u2705' : '\\ud83c\udfad Voiceover: none',\n  captionsAdded   ? '\\ud83d\udcdd Captions: \\u2705'   : '\\ud83d\udcdd Captions: none',\n  '',\n  '\\ud83c\udfb5 Music suggestion:',\n  prev.musicSuggestion || 'Check mood: ' + (prev.musicMood || ''),\n  '(Add in-app when posting)',\n  '',\n  previewUrl ? ('\\ud83d\\udce5 Preview: ' + previewUrl) : ('\\ud83d\\udcc1 Saved: ' + outputPath),\n  '',\n  'Reply:',\n  'POST \\u2014 post it to Instagram + Threads',\n  'REDO <changes> \\u2014 regenerate with tweaks',\n  'SKIP \\u2014 discard this reel',\n].join('\\n');\n\nawait wa(msg);\n\nreturn {\n  action:      'reel_ready',\n  reelId,\n  outputPath,\n  previewUrl,\n  duration,\n  sizeMB,\n  idea:        prev.idea,\n  musicSuggestion: prev.musicSuggestion,\n};"
      }
    }
  ],
  "connections": {
    "\ud83d\udcf2 WhatsApp IDEA Receiver": {
      "main": [[
        { "node": "\ud83d\udce4 Respond to Twilio",                           "type": "main", "index": 0 },
        { "node": "\ud83c\udfaf Interpret Idea + Select Clips + Generate VO", "type": "main", "index": 0 }
      ]]
    },
    "\ud83c\udfaf Interpret Idea + Select Clips + Generate VO": {
      "main": [[{ "node": "\ud83c\udf9e\ufe0f Assemble Reel (reel_creator.py)", "type": "main", "index": 0 }]]
    },
    "\ud83c\udf9e\ufe0f Assemble Reel (reel_creator.py)": {
      "main": [[{ "node": "\ud83d\udce4 Upload + Send Review", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{ "name": "content-creator" }, { "name": "reel-creator" }],
  "pinData": {}
}
