workflows/reference-workflow.json
{
  "name": "FLOWSTATE — Core Content Pipeline (Reference)",
  "nodes": [
    {
      "parameters": {
        "path": "={{ $env.CONTENT_WATCH_FOLDER }}/[YOUR_CATEGORY]/",
        "events": ["create"],
        "ignorePatterns": ["*_approved/**", "*_vault/**", "*.json", "*.csv"]
      },
      "name": "Watch Content Folder",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Watches your local content folder for new files. Set CONTENT_WATCH_FOLDER in your .env"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fileExtension }}",
              "operation": "in",
              "value2": "jpg,jpeg,png,gif,webp,mp4,mov"
            }
          ]
        }
      },
      "name": "Is Image or Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.voiceBrief }}\n\nAnalyse this image and write 3 caption options for [YOUR_PLATFORM].\n\nReturn JSON: { \"option1\": \"...\", \"option2\": \"...\", \"option3\": \"...\", \"platform_fit\": { \"linkedin\": true/false, \"instagram\": true/false } }\n\nImage: [base64 attached]"
            }
          ]
        }
      },
      "name": "Generate Captions (GPT-4o)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 200],
      "notes": "Replace [YOUR_PLATFORM] with your actual platform. Load voice brief from persona.json (gitignored)."
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "={{ $env.TWILIO_WHATSAPP_TO }}",
        "body": "={{ '📸 New content ready\\n\\n' + $json.fileName + '\\n\\nOption 1: ' + $json.captions.option1 + '\\n\\nOption 2: ' + $json.captions.option2 + '\\n\\nOption 3: ' + $json.captions.option3 + '\\n\\nReply: Y1 / Y2 / Y3 to post | N to skip | E to write your own' }}"
      },
      "name": "Send WhatsApp Approval",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 200],
      "notes": "Sends preview + 3 caption options to your WhatsApp for approval."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-handler",
        "responseMode": "onReceived"
      },
      "name": "Receive WhatsApp Reply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500],
      "notes": "Receives Y1/Y2/Y3/N/E reply from Twilio. Expose via ngrok: https://YOUR_NGROK_URL/webhook/approval-handler"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Body.trim().toUpperCase() }}",
              "operation": "in",
              "value2": "Y1,Y2,Y3"
            }
          ]
        }
      },
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/={{ $env.INSTAGRAM_USER_ID }}/media",
        "method": "POST",
        "body": {
          "image_url": "={{ $json.publicImageUrl }}",
          "caption": "={{ $json.selectedCaption }}"
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramGraphApi"
      },
      "name": "Post to Platform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [680, 460],
      "notes": "Replace with your target platform API. LinkedIn, Instagram, Threads, Medium — each has its own endpoint. See docs/setup-guide.md."
    }
  ],
  "connections": {
    "Watch Content Folder": { "main": [[ {"node": "Is Image or Video?", "type": "main", "index": 0} ]] },
    "Is Image or Video?": { "main": [[ {"node": "Generate Captions (GPT-4o)", "type": "main", "index": 0} ]] },
    "Generate Captions (GPT-4o)": { "main": [[ {"node": "Send WhatsApp Approval", "type": "main", "index": 0} ]] },
    "Receive WhatsApp Reply": { "main": [[ {"node": "Approved?", "type": "main", "index": 0} ]] },
    "Approved?": { "main": [[ {"node": "Post to Platform", "type": "main", "index": 0} ]] }
  },
  "_meta": {
    "note": "This is a REFERENCE workflow — it shows the architecture. All credentials are in environment variables. All persona-specific config (voice brief, content rules, folder paths) lives in gitignored local files. Import this into n8n and adapt to your setup. See docs/setup-guide.md for the full walkthrough.",
    "version": "1.0.0",
    "generated": "2026-06-24"
  }
}
